.color-selector {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #6c2656;
    padding: 20px;
  }
  .color-selector-visualizer{
    display: flex;
    gap: 2rem;
  }
  .picker{
    margin-bottom: 40px;
  }
  .pic-title{
    font-size: 3rem;
    font-family:'Noto Serif', serif;
    text-transform: uppercase;
    font-weight: bold;
    font-style: italic;
    letter-spacing: 0.2rem;
    color: var(--textColor);
    
  }
  
  .carousel-item-one {
    height: 680px;
    width: 680px;
  }
  .carousel-two{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 680px;
    width: 680px; 
  }
  .car-container{
    height: 100%;
    width: 100%;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow: hidden;
  }
  .icon-container{
    display: flex;
    padding: 1rem;
    gap: 8rem;
    align-items: center;
    justify-content: center;
  }
  .icon-left,
  .icon-right {
    font-size: 24px;
    cursor: pointer;
    color: #fff;
  }
  
  .icon-left:hover,
  .icon-right:hover {
    color: #e9e0e0;
  }
  .color-picker{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    
  }
  .scrollable-div {
    height: 500px;
    overflow-y: scroll; 
  }
  .scrollable-div::-webkit-scrollbar {
    width: 5px;
  }
  
  .scrollable-div::-webkit-scrollbar-track {
    background-color: #f0cce5; 
  }
  
  .scrollable-div::-webkit-scrollbar-thumb {
    background-color: yellow; 
    border-radius: 4px; 
  }
  
  .scrollable-div::-webkit-scrollbar-thumb:hover {
    background-color: yellow; 
  }
  .color-button{
    display: flex;
    gap:1rem;
  }
  .color input[type='radio'] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    cursor: pointer;
    position: relative;
  }
  .color input[type='radio']:checked::before {
    content: "\2714";
    display: block;
    position: absolute;
    top: -2px;
    left: 6px;
    font-size: 20px;
    color: #0c0c0c;
  }
  .color-text{
    top: 25px;
    left: 0;
    font-size: 20px;
    color: var(--textColor);
    text-transform: capitalize;
  } 
  .shades>button{
    height: 100px;
    width: 100px;
  }
  .palete-btn{
    margin: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    --webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
   -webkit-transition-property: box-shadow, transform;
   transition-property: box-shadow, transform;
  }

  .palete-btn:hover{
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    -webkit-transform: scale(1.1); 
    transform: scale(1.1); 
  }
  @media screen and (max-width: 1024px) {
    .pic-title{
        font-size: 2rem;
        letter-spacing: 0.1rem;
    }
    .color-selector-visualizer{
        display: flex;
        gap: 2rem;
      }
      
      .carousel-two{
        gap: 0.5rem;
        height: 350px;
        width: 350px; 
      }
      .carousel-item-one {
        height: 350px;
        width: 350px;
      }
      .car-container{
        gap: 0.5rem;
      }
      .scrollable-div {
        height: 250px;
        width: 350px;
        overflow-y: scroll; 
        padding: 20px;
      }
      .color-button{
        gap: 0.6rem;
        height: 2px;
        width: 2px;
      }
      .shades>button{
        height: 50px;
        width: 50px;
      }
      .color-text{
        top: 15px;
        font-size: 10px;
      } 
      .color-picker{
        display: flex;
        flex-direction: column;
        gap: 4rem;
        width: 400px;
        
      }
  }

  @media screen and (max-width: 768px) {
    .pic-title{
        font-size: 1.3rem;
        letter-spacing: 0.1rem;
    }
    .color-selector-visualizer{
        display: flex;
        flex-direction: column;
        gap: 2rem;
      }
      
      .carousel-two{
        gap: 0.5rem;
        height: 350px;
        width: 350px; 
      }
      .carousel-item-one {
        height: 350px;
        width: 350px;
      }
      .car-container{
        gap: 0.5rem;
      }
      .scrollable-div {
        height: 300px;
        width: 350px;
        overflow-y: scroll; 
        padding: 20px;
      }
      .color-button{
        gap: 0.6rem;
        height: 3px;
        width: 3px;
      }
      .shades>button{
        height: 50px;
        width: 50px;
      }
      .color-text{
        top: 15px;
        font-size: 10px;
      } 
      .color-picker{
        display: flex;
        flex-direction: column;
        gap: 4rem;
        width: 250px;
        
      }
      
  }
  
  
  
  
  