.service-section {
    background-color: #fedcf1;
    padding: 40px;
  }
  .service-title{
    margin-bottom: 20px;
  }
  .service-title span{
    color: var(--backColor);
    font-size: 3rem;
    font-family:'Noto Serif', serif;
    text-transform: uppercase;
    font-weight: bold;
    font-style: italic;
    letter-spacing: 0.2rem;
  }
  
  .service-container, .product1-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    gap: 2rem;
    width: 100%;
  }
  .text-container{
    font-size: 1.5rem;
    color: #732d5d;
    text-align: center;
    margin-top: 20px;
    font-family: 'Rokkitt', serif;
    font-weight: bold;
  }

  .service:hover, .product1:hover {
    background-color: #732d5d;
    cursor: pointer;
    border: 1px solid #ffe4f7;
    box-shadow: 0 4px 8px #ffe4f7;
  }
  .service:hover span, .product1:hover span{
    color: var(--textColor); 
  } 
  
  .service, .product1 {
    display: flex;
    flex-direction: column;
    background-color: #ffe4f7;
    padding: 20px;
    border: 1px solid #732d5d;
    border-radius: 30px;
    flex-basis: 48%;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px #732d5d;
  }
  .service{
    padding: 30px;
  }
  
  .service span, .product1 span {
    font-size: 25px;
    color: #732d5d;
    margin-top: 0;
    font-weight: bold;
    font-family: 'Rokkitt', serif;
  }

  @media screen and (max-width: 1024px) {
    .service-section {
        padding: 30px;
      }
      .service-title{
        margin-bottom: 14px;
      }
      .service-title span{
        font-size: 2rem;
        letter-spacing: 0.1rem;
      }
      
      .service-container, .product1-container {
        margin-top: 10px;
        gap: 1.5rem;
      }
      .text-container{
        font-size: 1rem;
        margin-top: 10px;
      }
    
      .service:hover, .product1:hover {
        box-shadow: 0 3px 6px #ffe4f7;
      }
      
      .service, .product1 {
        padding: 15px;
        border-radius: 30px;
        box-shadow: 0 3px 6px #732d5d;
      }
      .service{
        padding: 25px;
      }
      
      .service span, .product1 span {
        font-size: 16px;
      }
  }
  
  @media screen and (max-width: 768px) {
    .service-section {
        padding: 20px;
      }
      .service-title{
        margin-bottom: 10px;
      }
      .service-title span{
        font-size: 1.3rem;
        letter-spacing: 0.1rem;
      }
      
      .service-container, .product1-container {
        margin-top: 10px;
        gap: 0.5rem;
      }
      .text-container{
        font-size: 0.7rem;
        margin-top: 8px;
      }
    
      .service:hover, .product1:hover {
        box-shadow: 0 2px 4px #ffe4f7;
      }
      
      .service, .product1 {
        padding: 5px;
        border-radius: 15px;
        box-shadow: 0 2px 4px #732d5d;
      }
      .service{
        padding: 5px;
      }
      
      .service span, .product1 span {
        font-size: 10px;
      }
  }
  