@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

.hero-img{
    height: 85vh;
    position: relative;
    z-index: 1;
    object-fit: fill;
}

  .hero-title {
    font-family: 'Tinos', serif;
    font-size: 45px;
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 3px;
    display: block;
    position: relative;
    color: #5b0540;
    text-shadow: 2px 2px 4px #6c2656;
  }

  .custom-caption-1-1 {
    display: flex;
    position: absolute;
    top: 5vh;
    right: 1.5vw;
    z-index: 2;
    padding: 0;
  }
  .custom-caption-1-1>h3{
    top: 5vh;
  }

  .hero-iso-1{
    top: 1.5vh;
    right: 1.5vw;
    height: 150px;
    width: 150px;
  }

  .custom-caption-1-2 {
    position: absolute;
    background-color: var(--backColor);
    top: 2.5vh;
    left: 1vw;
    border-radius: 4rem;
    width: fit-content;
    padding: 0.3rem 0.3rem;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: yellow;
  }

  .custom-caption-1-2>div{
    position: absolute;
    background-color:#cd74b3;
    width: 6rem;
    height: 80%;
    left: 10px;
    border-radius: 3rem;
    z-index: 1;
}

  .hero-caption-1{
    font-size: 28px;
    padding: 0.5rem;
    font-family: cursive;
    font-weight: bold;
    z-index: 1;  
    font-style: italic; 
  }

  .custom-caption-2-1{
    position: absolute;
    left: 12vw;
    top: 2rem;
    z-index: 2;
    padding: 0.5rem;
  }

  .hero-iso-2{
    height: 130px;
    width: 130px;
  }

  .custom-caption-2-3 {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    position: absolute;
    top: 40vh;
    left: 6vw;
    z-index: 2;
    padding: 1rem;
  }
  .figOne>span, .figTwo>div>span{
    display: flex;
    flex-direction: column;
    color: #6c2656;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: cursive;
  }
  .figOne>div>span, .figTwo>div>div>span{
    color: #97497e;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bold;
    font-family: cursive;
  }
  .figTwo{
    display: flex;
    gap: 3rem;
  }
  @media (min-width: 768px) and (max-width: 1024px){
    .hero-img{
        height: 20rem;
    }
    .custom-caption-1-1 {
      position: absolute;
      top: 1vh;
      right: 0.5vw;
      z-index: 2;
      padding: 0.3rem;
    }

    .custom-caption-1-1>h3{
      top: 1vh;
    }
  
    .hero-iso-1{
      top: 0.5vh;
      right: 0.5vw;
      height: 100px;
      width: 100px;
    }
    
      .hero-title {
        font-size: 25px;
        font-weight: bold;
        font-style: italic;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-bottom: 10px;
        display: block;
        position: relative;
        color: #5b0540;
        text-shadow: 1px 1px 2px #6c2656;
      }

      .custom-caption-1-2 {
        position: absolute;
        background-color: var(--backColor);
        top: 0.7rem;
        left: 0.5rem;
        border-radius: 2rem;
        width: fit-content;
        padding: 0.3rem 0.3rem;
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        color: yellow;
        transform: scale(0.8);
      }
    
      .custom-caption-1-2>div{
        position: absolute;
        width: 3rem;
        height: 80%;
        left: 5px;
        border-radius: 3rem;
        z-index: 1;
    }
    
      .hero-caption-1{
        font-size: 20px;
        padding: 0.4rem;
        font-family: cursive;
        font-weight: bold;
        z-index: 1;
      }

      .hero-caption{
        width: 15rem;
      }

      .custom-caption-2-1{
        left: 11vw;
        top: 1rem;
        z-index: 2;
        padding: 0.3rem;
      }
    

      .hero-iso-2{
        height: 80px;
        width: 80px;
      }

      .custom-caption-2-3 {
        gap: 2rem;
        top: 12vh;
        left: 2.5vw;
        padding: 0.5rem;
      }
      .figOne>span, .figTwo>div>span{
        font-size: 0.9rem;
      }
      .figOne>div>span, .figTwo>div>div>span{
        font-size: 0.7rem;
      }
      .figTwo{
        gap: 2rem;
      }
  }



@media screen and (max-width:768px){
    .hero-img{
      height: 18rem;
  }
  .custom-caption-1-1 {
    position: absolute;
    top: 1.5vh;
    right: 0.5vw;
    z-index: 2;
    padding: 0.3rem;
  }

  .custom-caption-1-1>h3{
    top: 1.5vh;
  }

  .hero-iso-1{
    top: 0.5vh;
    right: 0.5vw;
    height: 60px;
    width: 60px;
  }
    
      .hero-title {
        font-size: 18px;
        font-weight: bold;
        font-style: italic;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-bottom: 10px;
        display: block;
        position: relative;
        color: #5b0540;
        text-shadow: 1px 1px 2px #6c2656;
      }

      .custom-caption-1-2 {
        position: absolute;
        background-color: var(--backColor);
        top: 0.7rem;
        left: 0rem;
        border-radius: 2rem;
        width: fit-content;
        padding: 0.3rem 0.3rem;
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        color: yellow;
        transform: scale(0.8);
      }
    
      .custom-caption-1-2>div{
        position: absolute;
        width: 3rem;
        height: 80%;
        left: 3px;
        border-radius: 3rem;
        z-index: 1;
    }
    
      .hero-caption-1{
        font-size: 10px;
        padding: 0.3rem;
        font-family: cursive;
        font-weight: bold;
        z-index: 1;
      }

      .hero-caption{
        width: 10rem;
      }

      .custom-caption-2-1{
        left: 9vw;
        top: 1rem;
        z-index: 2;
        padding: 0.3rem;
      }
    

      .hero-iso-2{
        height: 60px;
        width: 60px;
      }

      .custom-caption-2-3 {
        top: 16vh;
        left: 3vw;
        gap: 1.5rem;
        padding: 0.3rem;
      }
      .figOne>span, .figTwo>div>span{
        font-size: 0.6rem;
      }
      .figOne>div>span, .figTwo>div>div>span{
        font-size: 0.4rem;
      }
      .figTwo{
        gap: 1.5rem;
      }
       
  }

  