.about-us{
    background-color: #ffe4f7;
    color: #732d5d;
    font-size: 18px;
    padding: 50px; 
    font-family: 'Rokkitt', serif;
    font-weight: 400;
    text-align: center;
    text-decoration: solid;
    display: flex;
    flex-direction: column;
}
@media screen and (max-width: 1024px) {
    .about-us{
        font-size: 12px;
        padding: 30px;
        font-weight: 200;
    } 
}

@media screen and (max-width: 768px) {
    .about-us{
        font-size: 8px;
        padding: 17px;
        font-weight: 150;
    }   
}

