.why-choose-us {
    background-color: #ffe4f7;
    padding: 20px;
  }
  .choose{
    padding: 20px;
  }
  .container1{
    display: flex;
    gap: 3rem;
    padding: 20px;
    justify-content: space-around;
  }
.image1{
    flex: 0 0 auto;
    height: 600px;
    width: 600px;
    margin-right: 20px;
    overflow: hidden;
    padding: 20px;
}

.image1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  
.grid-title{
    color: var(--backColor);
    font-size: 3rem;
    font-family:'Noto Serif', serif;
    text-transform: uppercase;
    font-weight: bold;
    font-style: italic;
    letter-spacing: 0.2rem;
}
  .feature1 {
    margin-right: 35px;
    margin-bottom: 35px;
    padding: 30px;
  }
  .feature{
    margin-bottom: 15px;
    gap: 1.5rem;
    padding: 13px;
    display: flex;
  }
  .icon1{
    align-items: center;
    font-size: 32px;
    color: #732d5d;
    margin-bottom: 10px;
  }
  
  .feature h3 {
    align-items: center;
    font-size: 30px;
    color: #732d5d;
    margin-bottom: 10px;
    font-family: 'Rokkitt', serif;
  }
  
  .feature h3 svg {
    margin-right: 10px;
  }
  @media screen and (max-width: 1024px) {
    .why-choose-us {
      padding: 40px;
    }
    .choose{
        padding: 30px;
    }
    .grid-title{
        font-size: 2rem;
        letter-spacing: 0.1rem;
    }
  
    .feature h3 {
      font-size: 16px;
    }

    .image1{
        height: 350px;
        width: 350px;
        margin-right: 10px;
        padding: 10px;
    }
    
    .image1 img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
      
      .feature1 {
        margin-top: 20px;
        margin-right: 15px;
        margin-bottom: 15px;
        padding: 17px;
      }
      .feature{
        margin-bottom: 5px;
        gap: 1rem;
        padding: 5px;
        display: flex;
      }
      .icon1{
        font-size: 25px;
        margin-bottom: 5px;
      }
  }

  @media screen and (max-width: 768px) {
    .why-choose-us {
      padding: 30px;
    }
    .choose{
        padding: 20px;
    }

    .grid-title{
        font-size: 1.3rem;
        letter-spacing: 0.1rem;
    }
  
    .feature h3 {
      font-size: 17px;
      margin-bottom: 5px;
    }
    .container1{
        flex-direction: column;
        padding:0;
        gap: 0;
      }
    .image1{
        height: 300px;
        width: 300px;
        margin-right: 10px;
    }
      .feature1 {
        margin-right: 10px;
        margin-bottom: 10px;
        padding: 8px;
      }
      .feature{
        margin-bottom: 7px;
        gap: 1rem;
        padding: 6px;
        display: flex;
      }
      .icon1{
        align-items: center;
        font-size: 20px;
        color: #732d5d;
        margin-bottom: 7px;
      }
  }
  
  
  