.other-img{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 30px;
    justify-content: center;
}

.other-img>img{
    height: 90px;
    width: 90px;
}
.other-container{
  background-color: #6b2254;
  color: var(--textColor);
  padding: 1rem;
}
.other-title{
    font-size: 2rem;
    font-weight: bold;
    color: var(--textColor);
    font-family: 'Noto Serif', serif;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}
.footer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  
  .footer-container div {
    display: flex;
    align-items: center;
    margin-right: 10px;
  }
  .footer-text{
    display: flex;
    flex-direction: column; 
    font-size: 18px;
    gap: 0.1rem;
    font-family: 'Noto Serif', serif;
    cursor: pointer;
    transition: color 0.3s;
  }
  .footer-text:hover{
    color: yellow;
   
  }

  .footer-icon {
    display: flex;
    align-items: center;
    
  }
  
  .icon-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px; 
    height: 40px; 
    border-radius: 50%;
    background-color: var(--textColor); 
  }
  
  .icon {
    font-size: 30px;
    cursor: pointer;
    color: #6b2254;
  }

  .contact,.email,.location{
    gap: 0.5rem;
  }
  

  
  @media screen and (max-width: 1024px) {
    .other-img {
        flex-wrap: wrap;
        justify-content: center;
      }
    
      .other-img > img {
        height: 80px;
        width: 80px;
      }
      .other-title{
        font-size: 1.5rem;
        letter-spacing: 0.1rem;
    }
    .footer-container {
      flex-direction: column;
      padding: 20px;
    }
    .footer-container div {
      margin-right: 5px;
      margin-bottom: 10px;
    }
    .footer-text{
      font-size: 25px;
    }
    
    .icon-circle {
      width: 30px; 
      height: 30px; 
    }
    
    .icon {
      font-size: 20px;
    }
  
  }
  @media screen and (max-width: 768px) {
    .other-img {
        padding: 10px;
      }
    
      .other-img > img {
        height: 60px;
        width: 60px;
      }
      .other-title{
        font-size: 1.2rem;
      }
      .footer-container {
        flex-wrap: wrap;
        padding: 10px;
      }
    
      .footer-container div {
        margin-right: 5px;
        margin-bottom: 10px;
      }
      .footer-text{
        font-size: 15px;
      }
      
      .icon-circle {
        width: 30px; 
        height: 30px; 
      }
      
      .icon {
        font-size: 15px;
      }
    
      .contact,.email,.location{
        gap: 0.2rem;
      }
  }
 
  
  
  
  
  
  
  