@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Noto+Serif:ital,wght@1,600&family=Satisfy&display=swap');
.product{
    background-color:#6c2656;
    padding: 20px;
    text-align: center;
}
/* .prod-img{
    height: 10rem;
    width: 30rem;
} */
.prod-title{
    color: var(--textColor);
    font-size: 3rem;
    font-family:'Noto Serif', serif;
    text-transform: uppercase;
    font-weight: bold;
    font-style: italic;
    letter-spacing: 0.2rem;
}

.product-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    background-color: #732d5d;
    padding: 80px;
    gap:3rem;
  }
  .product-card {
    position: relative;
    border-radius: 10px;
    background-color: var(--textColor);
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    cursor: pointer;
    border: 4px solid #f7efef;
    height: 200px; 
    overflow: hidden; 
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .product-card:hover {
    transform: translateY(-5px);
    background-color: #ffe4f7;
    border: 4px solid #ab448a;
  }
  .front {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
  }
  
  .front img {
    object-fit: contain;
    height: 300px;
    width: 300px;
    border-radius: 5px;
  }
  
  .back {
    height: 100%;
    text-align: center;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  
  .back h3 {
    font-family: 'Rokkitt', serif;
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #732d5d;
    font-weight: bold;
    top: 1rem;
  }

  .prod-link{
    font-family: 'Rokkitt', serif;
    font-size: 1.8rem;
    color: #732d5d;
    font-weight: bold;
  }
  
  .back hr {
    width: 90%;
    height: 4px;
    background-color: #762b5e;
    border: none;
    margin: 0 auto;
    margin-bottom: 10px;

  }
  
  .back p {
    font-family: 'Rokkitt', serif;
    font-size: 1rem;
    color: #a64f8a;
  }

  .prod-button{
    font-family: 'Rokkitt', serif;
    padding: 10px 20px;
    background-color: #762b5e;
    color: #ffe4f7;
    border: none;
    width: fit-content;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .prod-button:hover{
    background-color: #a64f8a;
  }

  @media screen and (max-width: 1024px) {
    .product-container {
      grid-template-columns: repeat(3, 1fr);
      padding: 60px;
    }
    .prod-title{
        font-size: 2rem;
        letter-spacing: 0.1rem;
    }
    .product-card{
      padding: 10px;
    }
    .front img {
      height: 180px;
      width: 180px;
    }
    .prod-link{  
      font-size: 1rem;
    }
    .back h3 {
      font-size: 0.8rem;
      margin-bottom: 5px;
    }
    
    .back p {
      font-family: 'Rokkitt', serif;
      font-size: 0.5rem;
      color: #a64f8a;
    }
  
    .prod-button{    
      padding: 5px 10px;
      font-size: 0.8rem;
    }
  }
  
  @media screen and (max-width: 768px) {
    .product-container {
      grid-template-columns: 1fr;
      padding: 40px;
    }
    .prod-title{
        font-size: 1.3rem;
        letter-spacing: 0.1rem;
    }
    .front img {
      height: 200px;
      width: 200px;
    }
    .prod-link{  
      font-size: 1rem;
    }
    .back h3 {
      font-size: 1rem;
      margin-bottom: 5px;
    }
    
    .back p {
      font-family: 'Rokkitt', serif;
      font-size: 0.8rem;
      color: #a64f8a;
    }
  
    .prod-button{    
      padding: 5px 10px;
      font-size: 1rem;
    }
    
  }
  

