nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: var(--backColor); 
    box-shadow: 0 5px 15px var(--backColor);
    height: 14vh;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-img{
    width: 5rem;
    height: 3rem;
}

.title
{
    text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #3adf66 10%,
    #f75713 30%,
    #07e1f9 50%,
    #f60a0a 70%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 2.8rem;
  /* font-family: 'Rokkitt', serif; */
  font-family: 'Tinos', serif;
  font-weight: bold;
  transform: skew(-6deg);
  letter-spacing: 0.1rem;
  font-style:italic;
}

@keyframes textclip {
  to {
    background-position: 200%;
  }
}

/* .title{
    color: var(--textColor);
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-style:italic;
    text-transform: uppercase;
    transform: skew(-6deg);
    letter-spacing: 0.01rem;
} */

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    margin-top: 20px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--textColor);
    transition: 0.3s ease-in-out;
    font-family: 'Rokkitt', serif;
}

#navbar li a:hover{
    color: #e1f00e;
    cursor: pointer;
}

/* .title:hover{
    cursor: pointer;
    color: #e1f00e;
} */

#mobile{
    display: none;
}

@media (min-width: 768px) and (max-width: 1024px){
    nav{
        height: 6vh;
    }
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 90px;
        right: -300px;
        width: 150px;
        height: fit-content;
        background: hsl(319, 43%, 35%);
        box-shadow: 0 20px 30px #7e3266;
        padding: 0 10px;
        transition: 0.3s ease-in-out;
        z-index: 2;
    }

    #navbar.active {
        right: 0px;
    }

    #navbar li{
        margin-bottom: 20px;
    }

    #mobile{
        display: block;
    }

    .menu-icon, .close-icon{
        font-size: 26px;
        cursor: pointer;
        color: var(--textColor);
    }

    .logo-img{
        width: 3rem;
        height: 2rem;
    }
    
    .title{
        font-size: 2rem;
        font-weight: 700;
        font-style:italic;
        text-transform: uppercase;
        transform: skew(-6deg);
        letter-spacing: 0.01rem;
    }

    #navbar li a{
        font-size: 1rem;
        font-weight: 600;
    }
}
@media screen and (max-width:768px){
    nav{
        height: 8vh;
    }
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 90px;
        right: -300px;
        width: 150px;
        height: fit-content;
        background: hsl(319, 43%, 35%);
        box-shadow: 0 20px 30px #7e3266;
        padding: 0 10px;
        transition: 0.3s ease-in-out;
        z-index: 2;
    }

    #navbar.active {
        right: 0px;
    }

    #navbar li{
        margin-bottom: 20px;
    }

    #mobile{
        display: block;
    }

    .menu-icon, .close-icon{
        font-size: 24px;
        cursor: pointer;
        color: var(--textColor);
    }

    .logo-img{
        width: 2.8rem;
        height: 1.8rem;
    }
    
    .title{
        font-size: 1.5rem;
        font-weight: 700;
        font-style:italic;
        text-transform: uppercase;
        transform: skew(-6deg);
        letter-spacing: 0.01rem;
    }

    #navbar li a{
        font-size: 1rem;
        font-weight: 600;
    }
}
