:root {
  --primary: #5f1046;
  --white: #ffffff;
  --bg: #783663;
}

.design-container {
  max-width: 124rem;
  padding: 4rem 1rem;
  margin: 0 auto;
}
body{
  background-color: var(--bg);
}

.design-text {
  color: var(--textColor);
  font-size: 3rem;
  font-family:'Noto Serif', serif;
  text-transform: uppercase;
  font-weight: bold;
  font-style: italic;
  letter-spacing: 0.1rem;
}

.swiper_container {
  height: 38rem;
  padding: 2rem 0;
  position: relative;
  overflow: hidden;
}

.swiper-slide {
  width: 37rem;
  height: 37rem;
  position: relative;
  border-radius: 2rem;
  overflow: hidden;
  margin-right: 1rem;
  margin-left: 1rem;
}

.swiper-slide img {
  width: 37rem;
  height: 37rem;
  border-radius: 2rem;
  object-fit: contain;
  overflow: hidden;
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

.slider-controler {
  position: relative;
  bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-controler .swiper-button-next {
  left: 58% !important;
  transform: translateX(-58%) !important;
}

.slider-controler .slider-arrow {
  background: var(--white);
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  left: 42%;
  transform: translateX(-42%);
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.slider-controler .slider-arrow ion-icon {
  font-size: 1.7rem;
  color: #222224;
}

.slider-controler .slider-arrow::after {
  content: '';
}


@media (max-width: 500px) {
  .design-text {
    font-size: 1.5rem;
  }
  .swiper_container {
    height: 27rem;
  }
  .swiper-slide {
    width: 100% !important;
    height: 27rem !important;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .swiper-slide img {
    width: 28rem !important;
    height: 27rem !important;
  }
}

@media (max-width: 990px) {
  .design-text {
    font-size: 2rem;
  }
  .swiper-slide {
    width: 100% !important;
    height: 36rem !important;
    margin-left: 0;
    margin-right: 0;
  }
  .slider-controler .swiper-button-next {
    left: 70% !important;
    transform: translateX(-70%) !important;
  }
  .slider-controler .swiper-button-prev {
    left: 30% !important;
    transform: translateX(-30%) !important;
  }
}

@media (max-width: 450px) {
  .design-text {
    font-size: 1.5rem;
  }
  .slider-controler .swiper-button-next {
    left: 80% !important;
    transform: translateX(-80%) !important;
  }
  .swiper-slide {
    width: 100% !important;
    height: 36rem !important;
  }
  .slider-controler .swiper-button-prev {
    left: 20% !important;
    transform: translateX(-20%) !important;
  }
}











