.join{
  display: flex;
  gap: 2rem;
  background-color: #f0cce5;
}
.form-container{
    justify-content: center;
    box-shadow: 0 5px 10px #7e3266;
    flex: 1;
    padding: 20px;
    margin: 20px;
    background-color: #5b0540;
    border-radius: 20px;
    align-items: center;
  }

  .join-text{
    display: flex;
    flex-direction: column;
    color: var(--backColor);
    font-size: 2rem;
    font-family:'Noto Serif', serif;
    text-transform: uppercase;
    font-weight: bold;
    font-style: italic;
    letter-spacing: 0.1rem;
    flex: 2;
    align-items: center;
    justify-content: center;
}

.email-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

input[type="text"],
input[type="tel"],
input[type="email"] {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 3px;
  border: none;
}

input[type="text"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus {
  outline: none;
}

input[type="text"],
input[type="tel"],
input[type="email"],
button {
  width: 80%;
  background-color: #ffe4f7 ;
  color: #5b0540;
  font-size: 16px;
}

button.btn-email {
  padding: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  width: 50%;
  align-self: center;
  font-size: 15px;
  font-weight: bold;
}

button.btn-email:hover {
  background-color: #f0cce5;
}
@media screen and (max-width: 1024px) {
  .join-text{
    font-size: 1.5rem;
    flex: 1;
  }
}
@media screen and (max-width: 768px) {
  .join{
    flex-direction: column;
    gap: 1rem;
  }
  .join-text{
    font-size: 1.5rem;
    flex: 1;
    padding-top: 10px;
  }

}
