*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --backColor: #6c2656;
  --textColor: #f7f5f5;
}
.App {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.stroke-text{
  color: transparent;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #6c2656;
}
html {
  scroll-behavior: smooth;
}

@media (min-width: 1440px) {
  html {
    zoom: 1.5;
  }
}

@media (min-width: 2560px) {
  html {
    zoom: 1.7;
  }
}

@media (min-width: 3860px) {
  html {
    zoom: 2.5;
  }
}

::-webkit-scrollbar {
  width: 1.3rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: #797979;
  transition: all 0.5s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: #222224;
}

::-webkit-scrollbar-track {
  background: #f9f9f9;
}

/* Hide the default scrollbar */
body::-webkit-scrollbar {
  width: 0em;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 0em;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}


